doctype html
html(lang="es")
  head
    title Loopin Records
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    <!--[if lte IE 8]>
    //- TODO: bower html5shiv script(src="")
    <![endif]-->
    link(rel="stylesheet", href="css/style.css")
    <!--[if lte IE 9]>
    //- link(rel="stylesheet", href="css/ie9.css")
    <![endif]-->
    <!--[if lte IE 8]>
    //- link(rel="stylesheet", href="css/ie8.css")
    <![endif]-->
  body
    //- Navbar
    section#navbar
      .inner
        nav
          ul
            each item, i in content.navbar.items
                li
                    a(class=(i===0 ? 'scrolly active' : 'scrolly'))(href="##{item.value}") #{content[item.value].title}
         
    //- Wrapper         
    #wrapper
        //- Intro
        section#intro.wrapper.style1.fullscreen.fade-up
            .inner
                h1 #{content.title}
                p #{content.intro.desc}
                
        //- Us
        section#us.wrapper.style4
            .inner
                h2.major #{content.us.title}
                span.image.fit
                    img(src="#{content.us.img}", alt="")
                    each item in content.us.desc
                      p #{item}

        //- Services
        section#services.wrapper.style2.spotlights.inactive
            each item in content.services.items
                section.inactive
                    a.image(href="", style="background-image: url('#{item.img}'); background-position: 50% 50%;")
                        img(src="#{item.img}", alt="", data-position="center center", style="display: none;")
                    .content
                        .inner
                            h2 #{item.title}
                            p #{item.desc}
                            
        //- Gear
        section#gear.wrapper.style3.fade-up
            .inner
                h2 #{content.gear.title}
                p #{content.gear.desc}
                .features
                    each item in content.gear.items
                        section
                            //- span.icon.major.fa-code
                            a.icon(href="", style="background-image: url('#{item.img}');")
                            h3 #{item.title}
                            p #{item.desc}
                        
                        
        //- Contact
        section#contact.wrapper.style1.fade-up
            .inner
                h2 #{content.contact.title}
                p #{content.contact.desc}
                section
                    ul.contact
                        each item in content.contact.items
                            li
                                h3 #{item.title}
                                span #{item.desc}
                                
                        li
                            h3 #{content.contact.social.title}
                            ul.icons
                                li
                                    a.fa-twitter
                                    
                                    
    //- Footer
    footer#footer.wrapper.style1-alt
        .inner
            ul.menu
                li #{content.footer.copyright}
                li #{content.footer.design.design} 
                    a(href="#{content.footer.design.url}") #{content.footer.design.author}
                li #{content.footer.powered.powered}
                    a(href="#{content.footer.powered.url}") #{content.footer.powered.author}
                    