doctype html
html(lang="es")
  head
    title Loopin Records
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    <!--[if lte IE 8]>
    //- TODO: bower html5shiv script(src="")
    <![endif]-->
    link(rel="stylesheet", href="style.css")
    <!--[if lte IE 9]>
    //- link(rel="stylesheet", href="css/ie9.css")
    <![endif]-->
    <!--[if lte IE 8]>
    //- link(rel="stylesheet", href="css/ie8.css")
    <![endif]-->
  body
    //- Navbar
    section#navbar
      .inner
        nav
          ul
            each item, i in content.navbar.items
                li
                    a(class=(i===0 ? 'scrolly active' : 'scrolly'))(href="#{item.href}") #{item.value}
         
    //- Wrapper         
    #wrapper
        //- Intro
        section#intro.wrapper.style1.fullscreen.fade-up
            .inner
                h1 #{content.title}
                p #{content.intro.desc.value}

        //- Two
        section#two.wrapper.style2.spotlights.inactive
            - var one_data = [{"title":"Titulo1", "content":"Texto1"},{"title":"Titulo2", "content":"Texto2"},{"title":"Titulo3", "content":"Texto3"}]
            each item, i in one_data
                section.inactive
                    a.image(href="", style="background-image: url('images/pic01.jpg'); background-position: 50% 50%;")
                        img(src="images/pic01.jpg", alt="", data-position="center center", style="display: none;")
                    .content
                        .inner
                            h2 #{item.title}
                            p #{item.content}
                            
        //- Three
        section#three.wrapper.style3.fade-up
            .inner
                h2 Titulo1
                p Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.
                .features
                    //- TODO: Make loop
                    section
                        span.icon.major.fa-code
                        h3 Titulo
                        p Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
                    section
                        span.icon.major.fa-code
                        h3 Titulo
                        p Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.
                        
                        
        //- Four
        section#four.wrapper.style1.fade-up
            .inner
                h2 Titulo
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque egestas risus. Nulla et aliquet nulla. Vestibulum eget nulla fermentum dolor scelerisque porta non eget elit.
                section
                    ul.contact
                        li
                            h3 Direccion
                            span Somewhere Road #654
                            
                        li
                            h3 e-mail
                            span mail@mail.com
                            
                        li
                            h3 Social
                            ul.icons
                                li
                                    a.fa-twitter
                                    
                                    
    //- Footer
    footer#footer.wrapper.style1-alt
        .inner
            ul.menu
                li © Loopin Records. All rights reserved.
                li Diseño: 
                    a(href="http://antoniovm.com") Antonio Vicente Martín
                li Con soporte de 
                    a(href="http://html5up.net") HTML5 UP
                    